.header{
    display:flex;
    background-color: rgba(22, 44, 73, 0.692);
    justify-content: space-around;
    height: 100px;
    align-items: center;
    color:white;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
